vti_encoding:SR|utf8-nl
_private/finearts/earthquake.htm.cnt:finearts/earthquake.htm
_private/finearts/sunkenapril.htm.cnt:finearts/sunkenapril.htm
_private/finearts/skypatt1.htm.cnt:finearts/skypatt1.htm
_private/finearts/westcoast5.htm.cnt:finearts/westcoast5.htm
_private/finearts/westcoast4.htm.cnt:finearts/westcoast4.htm
_private/finearts/articles-links.htm.cnt:finearts/articles-links.htm
_private/index.htm.cnt:index.htm
_private/finearts/biography.htm.cnt:finearts/biography.htm
_private/finearts/landscapes.htm.cnt:finearts/landscapes.htm
_private/finearts/buzkashi.htm.cnt:finearts/buzkashi.htm
_private/finearts/artiststatement.htm.cnt:finearts/artiststatement.htm
_private/finearts/flight.htm.cnt:finearts/flight.htm
_private/finearts/travelling8x10.htm.cnt:finearts/travelling8x10.htm
_private/finearts/onastraightpath.htm.cnt:finearts/onastraightpath.htm
